@model IEnumerable<DataObjects.PlanetVM>

@{
    ViewBag.Title = "Index";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SystemID)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.SystemID)
            </td>

            <td>
                @Html.ActionLink("Details", "Details", new { id = item.PlanetID }) |
            </td>
        </tr>
    }

</table>
